<section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
              <h2>Add Chef</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="row" style="padding-top: 50px;">
    
    <div class="col-lg-12">
      <form class="form-contact contact_form" #addChefForm="ngForm" (ngSubmit)="addChef()" >
        <div class="row">
          
          <div class="col-sm-6">
            <div class="form-group">
              <input class="form-control" [(ngModel)]="chef.name" name="name" id="name" type="text" placeholder='Enter your name '>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input class="form-control" [(ngModel)]="chef.speciality" name="speciality" id="speciality" type="email" placeholder='Enter your speciality'>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input class="form-control" [(ngModel)]="chef.experience" name="experience" id="experience" type="number" placeholder='Enter your experience'>
            </div>
          </div>
        </div>
        <div class="form-group row " >
            <div class="col-4"></div>
          <button type="submit" class="button button-contactForm btn_4 col-4" >Add Chef</button>
          <div class="col-4"></div>
        </div>
      </form>
    </div>
    
  </div>