<div class="single_blog_item">
    <div class="single_blog_img">
        <img [src]="chefInput.image" alt="">
    </div>
    <div class="single_blog_text text-center">
        <h3>{{chefInput.name}}</h3>
        <p>{{chefInput.speciality}} </p>
        <h4 [ngStyle]="{'color':experienceColor(chefInput.experience)}">{{chefInput.experience}}</h4>
        <div class="social_icon">
            <a href="#"> <i class="ti-facebook"></i> </a>
            <a href="#"> <i class="ti-twitter-alt"></i> </a>
            <a href="#"> <i class="ti-instagram"></i> </a>
            <a href="#"> <i class="ti-skype"></i> </a>
        </div>
    </div>
</div>